@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <img src="@Url.Content("~/img/IronMan.jpg")" style="height:100%; width:100%"/>
        <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background: black;font-size:x-large">@Html.ActionLink("Super Hero Database", "Index", "SuperHero")</div>
    </div>
</div>
